.App {
  text-align: center;
}

div.search-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: calc(50rem + 1.6rem + 3rem);
  margin: 0 auto;
  margin-top: 3rem;

  > input.search-input {
    font-size: 1rem;
    width: 50rem;
    height: 3.5rem;
    display: inline-block;
    background-color: rgba(255,255,255,0.35);
    border: none;
    border-radius: 0.7rem;
    padding: 1rem;

    &.focus::placeholder {
      color: transparent;
    }

  }

  > input.search-input:focus-visible {
    outline: none;
  }

  > label.search-label {
    position: relative;
    pointer-events: none;
    left: 1.1rem;
    top: 0.3rem;
    width: 0;
    font-size: 0.8rem;
    color: grey;
    opacity: 0;
    transition: opacity 0.2s;

    &.focus {
      opacity: 1;
    }
  }

  > .search-button {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--search-button-light);
    border: none;
    border-radius: 0.7rem;
    margin-left: 0.8rem;

    > span {
      display: inline-block;
      color: white;
      font-size: 2rem;
    }
  }

  > .search-button:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    width: calc(14rem + 1rem + 2rem);
    margin: 2rem auto;

    > input.search-input {
      width: 12rem;
    }

    > .search-button {
      display: inline-block;
      height: 3.5rem;
      width: 3.5rem;
      background-color: var(--search-button-light);
      border: none;
      border-radius: 0.7rem;
      margin-left: 0.8rem;
  
      > span {
        display: inline-block;
        color: white;
        font-size: 2rem;
      }
    }

    > label.search-label {
      left: 1.3rem;
    }

  }

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 8
}

div.weather-container {
  /* 
    background-color same as search input 
  */
  position: relative;
  background-color: rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50rem + 1.6rem + 3rem);
  margin: 0 auto;
  margin-top: 7rem;
  border-radius: 1rem;
  border: 0.5px solid rgba(255,255,255,0.3);

  > * {
    /* 
    width = 
    search bar width + 
    search button margin left + 
    search button width  
    */
    width: calc(50rem + 1.6rem + 3rem);
    padding: 0 2rem;
    text-align: left;
  }

  > :nth-child(2) {
    margin-top: 2rem;
  }

  > :last-child {
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 768px) {
    width: calc(14rem + 1rem + 2rem);
    margin-top: 3.5rem;

    > :nth-child(2) {
      margin-top: 1rem;
    }
  }
}

div.weather-image {
  content: "";
  position: absolute;
  top: -5rem;;
  left: 68%;
  width: 256px;
  height: 256px;
  background-image: url('./assets/sun.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    width: 128px;
    height: 128px;
    left: 48%;
    top: -2.5rem;
  }
}

div.weather-display-no-result
{
  margin-bottom: 5.46rem;

  > h1 {
    color: rgba(0,0,0,0.75)
  }

  > h2 {
    margin-top: 0.3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.4)
  }

  @media only screen and (max-width: 768px) {
    width: calc(14rem + 1rem + 2rem);
    padding: 0 1rem;
    font-size: 0.5rem;
    margin-bottom: 4.6rem;

    > h1 {
      margin-top: 0.1rem;
    }

    > h2 {
      display: inline-block;
      width: 7rem;
      font-size: 0.8rem;
    }
  }
}

div.weather-display-result {
  @media only screen and (max-width: 768px) {
    display: inline-block;
    width: calc(14rem + 1rem + 2rem);
    padding: 0 1rem;
    margin-top: 1.5rem;
  }
}

div.weather-display-main {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
  > h1 {
    color: var(--search-button-light);
    font-size: 6rem;
  }
  > h3 {
    font-size: 1rem;
    color: grey;
    margin-top: 0.3rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: 0.8rem;
    margin-top: 0.5rem;

    > h1 {
      font-size: 3rem;
    }

    > h3 {
      font-size: 0.8rem;
    }
  }
}

div.weather-display-side {
  color: grey;
  display: flex;
  width: 28rem;
  position: relative;
  font-size: 1rem;
  left: 22rem;
  top: -1rem;
  justify-content: space-between;
  flex-direction: row-reverse;

  @media only screen and (max-width: 768px) {
    font-size: 0.8rem;
    flex-direction: column;
    text-align: right;
    width: 8rem;
    left: 45%;
    top: -2.7rem;

    > h1 {
      font-size: 3rem;
    }

    > h3 {
      font-size: 0.8rem;
    }
  }
}

div.search-history-container {
  width: calc(50rem + 1.6rem);
  background-color: rgba(255,255,255,0.2);
  border-radius: 0.7rem;
  padding: 0.5rem 0;

  > * {
    padding: 0 1.5rem;
    font-size: 1rem;
  }

  > p {
    margin: 1rem 0;
  }

  @media only screen and (max-width: 768px) {
    width: calc(12rem + 1rem + 2rem);

    > * {
      padding: 0 1rem;
      font-size: 0.8rem;
    }
  }
}

div.search-history-item-container {
  width: 49rem;
  height: 3rem;
  margin: 1rem auto;
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > button:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    display: block;
    margin: 1rem auto;
    width: 13rem;
    font-size: 0.7rem;
    height: 3.5rem;
    white-space: nowrap;
  }
}

div.search-history-item-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    margin-left: 0.5rem;
  }

  > .history-button {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 1.4rem;
    border: none;
    align-items: center;

    > .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      > span {
        color: grey;
        font-size: 1.2rem;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  @media only screen and (max-width: 768px) {
    position: relative;
    display: inline-block;
    left: -50%;
    top: 1rem;

    > * {
      margin-left: 0.3rem;
    }
  
    > .history-button {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      border: none;
      align-items: center;
  
      > .icon-wrapper {
        > span {
          color: grey;
          font-size: 1rem;
        }
      }
    }
  }
}

div.search-history-item-datetime {
  position: absolute;
  left: 65%;

  @media only screen and (max-width: 768px) {
    position: relative;
    display: inline;
    width: 6rem;
    left: -64%;
    top: 1.2rem;
    font-size: 0.6rem;
  }
}

div.search-history-item-city {
  @media only screen and (max-width: 768px) {
    position: relative;
    display: inline-block;
    width: 7rem;
    left: 0;
    top: 0.4rem;
    font-size: 0.8rem;
  }
}